<% include header%>
    <style>
        div.item {
            position: relative;
            width: 225px;
            border: 1px solid #ee0202;
            text-align: center;
            border-radius: 4px;
            padding-top: 50px;
            display: inline-table;
            color: white;
            margin-left: 6%;
        }
        
        h2 {
            color: white;
        }
        
        p {
            font-size: 28px;
        }
        
        div img {
            width: 80%;
        }
        
        body {
            background: url("/recursos/fondo4.jpg");
        }
    </style>
    <h2>
        Clase De Armas Usadas Por El Zombie
    </h2>
    <form method="post" role="from">
        <div class="item">
            <p><strong> Vomito Acido </strong></p>
            <img src="/recursos/arma1.jpg" />
            <p>El zombie boomer puede utilizar su vomito acido para cegar a sus victimas y asi poder comerlas mas facil.</p>
        </div>
        <div class="item">
            <p><strong> Brazos y Ataque En Grupo  </strong></p>
            <img src="/recursos/arma3.jpg" />
            <p>A los zombies corredores les gusta usar sus brazos y atacar en grupo para atrapar a sus victimas y desollarlas.</p>
        </div>
        <div class="item">
            <p><strong> Minigun </strong></p>
            <img src="/recursos/arma2.jpg" />
            <p>Esta es el arma favorita del zombie nemesis, ya que puede asesinar a muchos supervivientes muy facil y rapidamente.</p>
        </div>
        <div class="item">
            <p><strong> Lanzas </strong></p>
            <img src="/recursos/arma4.jpg" />
            <p>A los zombies cazadores les encanta usar estas armas para cazar desde larga distancia a sus presas para despues ser su cena principal.</p>
        </div>

    </form>
    <% include footer %>