<% include header%>
    <style>
        div.item {
            position: relative;
            width: 225px;
            border: 1px solid #000000;
            text-align: center;
            border-radius: 4px;
            padding-top: 50px;
            display: inline-table;
            margin-left: 6%;
            color: solid rgb(0, 0, 0);
        }
        
        h2 {
            color: solid rgb(0, 0, 0);
        }
        
        div img {
            width: 150px;
        }
        
        body {
            background: url("/recursos/fondo2.jpg");
        }
        
        p {
            font-size: 28px;
        }
    </style>
    <h2>
        Clase De Victimas
    </h2>
    <form method="post" role="from">
        <div class="item">
            <p><strong> Multitud De Personas </strong></p>
            <img src="/recursos/victima1.jpg" />
            <p>Al zombie boomer le gusta atacar multitudes ya que asi puede neutralizarlos con su vomito y comer mucho mas.</p>
        </div>
        <div class="item">
            <p><strong> Niños </strong></p>
            <img src="/recursos/victima3.jpg" />
            <p>Estos son los favoritos de los zombies corredores ya que algunos de ellos no son tan rapidos y son muy faciles de alcanzar y de igual manera son muy debiles para poder hacer algo en contra de ellos.</p>
        </div>
        <div class="item">
            <p><strong> Militares </strong></p>
            <img src="/recursos/victima2.jpg" />
            <p>Estas son las victimas favoritas del zombie nemesis debido a que le gusta la destruccion y puede conseguir municion para su arma.</p>
        </div>
        <div class="item">
            <p><strong> Personas En Buena Forma </strong></p>
            <img src="/recursos/victima4.jpg" />
            <p> Este tipo de personas son las preferidas del zombie cazador ya que para estar en buen estado fisico tienen que comer mucho musculo para tener mucha fuerza.</p>
        </div>

    </form>
    <% include footer %>